
    <footer>
        <div class="container">
            <h1 class="item header">Air<br>Voyage</h1>
            <div class="item company">
                <h2>Company</h2>
                <a href="#">About us</a>
                <a href="#">Contact us</a>
            </div>
            <div class="item my-account">
                <h2>My account</h2>
                <a href="#">sign up</a>
                <a href="#">Login</a>
            </div>

                <% let year = new Date().getFullYear(); %>
                <p class="item">Air Voyage © <%= year %></p>
                <a class="item" href="#">Cookie Policy</a>
                <a class="item" href="#">Terms and Condition</a>
                <a class="item" href="#">Privacy Policy</a>
        </div>
    </footer>



</body>
</html>