/*Animation*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

header img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


/*universal styling*/
body {
    background-color: #B9D2E6;
    color: #F8FAFC;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    row-gap: 50px;
}

body * {
    margin: 0;
    padding: 0;
}

svg {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #F8FAFC;
    margin-left: 8px;
}

li {
    list-style: none;
}

.hidden{
    display: none;
}

.not-visible {
    visibility: hidden;
}

/*header*/
.header-page {
    max-height: fit-content;
    color: #0a101f;
    margin-bottom: 50px;
}



nav a {
    color: #0a101f;
    font-weight: 600;
}

nav li {
    list-style: none;
}



nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;

}

nav ul button,
nav ul li {
    margin-top: 40px;
}

nav ul button {
    background-color: #0a101f;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-page ul button:hover,
.header-page .buttons a:hover {
    box-shadow: 0px 0px 10px #00ABCC;
}

nav ul button svg {
    margin-left: 9%;
}

.header-page.container h1 {
    font-weight: bolder;
    font-size: 10rem;
}

header {
    display: flex;
    align-items: flex-end;
}

header > div {
    align-items: flex-end;
    margin-bottom: 8%;
    margin-left: 2%;
}

.header-page .buttons {
    display: flex;
    justify-content: flex-end;
}


.header-page .buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 250px;
    height: 45px;
    background-color: #0A101F;
    border: 0;
    border-radius: 30px;
    margin: 5% 30px 10px;
    color: #F8FAFC;
    font-weight: bold;
}

.header-page .buttons a[href="./login"] {
    border: 3px solid #0A101f;
    background-color: transparent;
    color: #0A101f;
}

@media (max-width:767px) {

    .header-page.container h1 {
        font-size: 7rem;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .header-page.container h1 {
        font-size: 4rem;
    }

    .header-page.container {
        margin-bottom: 300px;
    }

    header {
        margin: 100px 0;
    }
}

@media (min-width: 200px) and (max-width: 375px) {
    .header-page.container h1 {
        font-size: 2rem;
    }
}

.offcanvas-body * {
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: transform 0.3s linear;
}

.offcanvas-body h5:hover {
    transform: translateX(3px);
}

.offcanvas-body h6 {
    margin-left: 30px;
}

.offcanvas-body h6:hover {
    background-color: #0a101f05;
}
/*main*/

main{
    width: 100%;
}
main > .buttons.container, main  .search {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

@media (max-width: 991px) {
    main {
        text-align: center;
    }

    main h2 {
        margin-top: 20px;
        font-size:xx-large;
    }
}

.buttons.container {
    margin: 20px auto;
}

.buttons.container .btn {
    height: 40px;
    width: 160px;
    border: 3px solid #0a101f;
    border-radius: 30px;
    background-color: transparent;
    color: #0A101F;
    font-weight: 900;
    letter-spacing: 0.1rem;
    transition-property: transform;
    transition-duration: 0.1s ;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.buttons.container .btn.active {
    background-color: #0a101f;
    color:#F8FAFC;
    font-weight: bolder;
    
}

.buttons .btn:hover {
    transform: translateY(-2px);
    font-weight: 700;
    cursor: pointer;
}



.stays.container  h2{
    font-weight: bolder;
    padding: 5px;
}

.stays.container,
.flights.container {
    background-color: #0a101f1e;
    border-radius: 20px;
    min-width: 80%;
    margin: 20px auto;
    padding: 10px 10px 30px 10px;
}

.trending h2 {
    z-index: 3;
    position: absolute;
    color: #F8FAFC;
    font-size: x-large;
    text-shadow: 0px 0px 10px #0A101F;
    margin-left: 5px;
}

.explore h2 {
    z-index: 3;
    position: absolute;
    text-shadow: 5px 5px 15px #0A101F;
    margin-left: 5px;
    font-size:medium;
}



.trending {
    min-width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}



main .row div {
    
    min-height: 200px;
    max-height: 400px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    
}



main .row div img:hover {
    
    transform: scale(1.01);
}

main img {
    width: 100%;
    border-radius: 10px;
    transition: transfrom 0.3s ease-in-out;
}
/*flights container*/
.search-bar-flights,
.search-bar-stays {
    grid-area: search;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 5px;
    background-color: #0a101f3b;
}

.search-bar-flights button,
.search-bar-stays button {
    border: 0;
    border-radius: 5px;
    height: 45px;
    margin: 5px 7px;
}

.search-bar-flights .btn-search,
.search-bar-stays .btn-search {
    background-color:royalblue;
    max-width: 45px;
}

.search-bar-flights input,
.search-bar-stays input {
    height: 45px;
    border-radius: 5px;
    border: 0;
    margin-top: 5px;
    margin-inline: 4px;
    outline: 0;
}

.still-searching-stays,
.error-stays {
    margin: 10px 0 10px 7%;
}


.flights-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "filter flights";
    column-gap: 20px;
    margin: 20px 55px;
}

.flights.container h2 {
    font-weight: bold;
    padding: 5px;
    margin: 20px 0 50px 0;
}

li {
    color: #F8FAFC;
    margin-left: 8px;
}

main li:hover {
background-color: #0a101f2f;
cursor: pointer;
}

.flights-filter {
    grid-area: filter;
    background-color: #0a101f42;
    border-radius: 10px;
    padding: 5px;
}

.flights-availabel {
    grid-area: flights;
    background-color: #0a101f42;
    border-radius: 10px;
    padding: 5px;
}

.flights-filter h6 {
    font-weight: 500;
}

.flights-filter h6:hover {
    cursor: pointer;
}

label[for="range"] {
    margin-top: 2px;
}

label[for="range"].min {
    margin-inline: 2px 25px;
}

label[for="range"].max {
    margin-inline: 25px 2px;
}







/*account page*/
#account-form {
    margin-bottom: 200px;
}

#account-form > .return {
    background-color: #0A101f;
    height: 100px;
    margin-bottom: 20px;
    border-bottom-right-radius: 10rem;
    display: flex;
    align-items: center;
    transition: transfrom 1s;
}

#account-form > div.return > span {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#account-form > div.return > span:hover {
    transform: translateX(-3px);
}

.sign-up-h1,
.log-in-h1 {
    color: #0a101f77;
    margin-left: 20px;
    font-weight: bolder;
    font-size: 15rem;
    position: absolute;
    z-index: -1;
}

@media (max-width: 1065px) {
    .sign-up-h1,
    .log-in-h1 {
        font-size: 13rem;
    }

    footer {
        padding-bottom: 10%;
    }
}

@media (max-width: 745px) {
    .sign-up-h1,
    .log-in-h1 {
        font-size: 11rem;
    }

    div.item.company {
        grid-column-start: 2;
    }
}

@media (max-width: 635px) {
    .sign-up-h1,
    .log-in-h1 {
        font-size: 9rem;
    }
}

@media (max-width: 530px) {
    .sign-up-h1,
    .log-in-h1 {
        display: none;
    }

    footer {
        padding-bottom: 20%;
    }
}


#log-in,
#sign-up {
    outline: 2px solid #0a101f;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    margin-block: 10%;
    margin-inline: auto;
    background-color: #0a101fa9;
    
}

#log-in label,
#sign-up label{
    margin-top: 10px;
}

#log-in h1,
#sign-up h1 {
    font-weight: bold;
    text-align: center;
    letter-spacing: .15rem;
}

#log-in input,
#sign-up input {
    width: 100%;
    height: 30px;
    font-size: medium;
    margin-bottom: 10px;
}

#log-in button,
#sign-up button {
    width: 80%;
    height: 30px;
    margin: 5px auto;
    background-color: #0070cc;
    color: #F8FAFC;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in input[type="checkbox"] {
    width: auto;
    height: auto;
}


#log-in button:hover,
#sign-up button:hover {
    background-color: #171e30e3;
}

#log-in a,
#sign-up a {
    text-decoration: underline;
}

#log-in a:hover,
#sign-up a:hover {
    color: #0070cc;
}




/*footer*/
footer {
    background-color: #0A101F;
    width: 100%;
}

footer a {
    color: #f8fafc60;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 10px;
}

footer a:hover {
    color: #F8FAFC;
}


footer > .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

footer h1 {
    margin-top: 20px;
    font-weight: bolder;
}


footer .company {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

footer .my-account {
    grid-row: 2;
    grid-column: 4;
    display: flex;
    flex-direction: column;
}



footer a.item, footer p.item {
    grid-row: 3;
    align-self: flex-end;
    margin-bottom: 20px;
}

